{% extends 'base.html' %}

{% block titulo %}
    Inicio
{% endblock %}

{% block contenido %}

<br>
<br>

<div class="container border border-card">
    <h1 class="text-center">Iniciar sesión</h1>
    <form class="text-center row g-3" action="/login" method="POST">
        <div class="mb-3 ">
            <label class="form-label" for="">Correo Electrónico</label>
            <input class="form-control" type="text" name="correo" value="{{ correo }}">
        </div>
        <div class="mb-3">
            <label class="form-label" for="">Contraseña</label>
            <input class="form-control" type="password" name="clave" value="{{ clave }}">
        </div>
        <button class="btn btn-primary" type="submit">Iniciar sesion</button>
    </form>
    <br>
</div>
<a href="{{ url_for('registrar') }}">Registrar una nueva empresa</a>
{% endblock %}

